.reg-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    width: 35%;
    background: #b3c4ff;
}
.reg-form form input, .reg-form form button {
    border: none;
    padding: 0.5em;
    background: #e6ecff;
}  
.reg-form form input:focus {
    background: #ffffff;
}
