*{
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #ff8080;
    flex-wrap: wrap;
}

header div{
    display: flex;
    padding: 5px 50px;
}

header div:hover {
    background: #ff9999;
}

header div a {
    text-decoration: none;
    color: #ffffff;
}
header div a strong{
    color: #333333;
}

header div[class="nav-link"]:nth-child(1){
    font-size: 2em;
    background: none
}
