doctype html
html(lang="en")
    head
        title= pageTitle
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="/css/header.css", rel="stylesheet")
        link(href="/css/main.css", rel="stylesheet")
        link(href="/css/form.css", rel="stylesheet")
    body
        header(class="flex-header")
            div(class="nav-link") 
                a(href="/") WELCOME TO  
                    strong DEVME         
            div(class="nav-link")  
                a(href="/") HOME 
            div(class="nav-link") 
                a(href="/auth/login") LOGIN
            div(class="nav-link")
                a(href="/", id="registration-link") REGISTRATION
            div(class="nav-link")
                a(href="/auth/logout") LOGOUT
        main
            div(class="reg-form")
                form(method="post", action="/api/v1/users") 
                    input(type="text", placeholder="Username...", name="Username")
                    input(type="text", placeholder="Name...", name="Name")
                    input(type="text", placeholder="Surname...", name="Surname")
                    input(type="mail", placeholder="Email address...", name="Email address")
                    input(type="password", placeholder="Password...", name="Password")
                    input(type="password", placeholder="Confirm password...", name="Confirm password")
                    button(type="submit", value="registration") REGISTRATION
       
                